<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <header>
        <div>
            <h1>Страница с разными вкладками по сущюностям моделей ERP</h1>
            <h1>
                <a href="{% url 'persons' %}">Проект</a>
                <a href="{% url 'persons' %}">Персонал</a>
                <a href="{% url 'persons' %}">Документы</a>
                <a href="{% url 'persons' %}">Заявки</a>
            </h1>

        </div>
    </header>
    {% block content %}

    {% endblock %}
</body>
</html>