{% extends 'base.html' %}


{% block title %} Загрузить данные {% endblock %}

{% block content %}
<div>
    <h1>Страница для загрузки данных </h1>
</div>
<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div>
        <form action="" method="post">
            <input type="file" name="" id="">
            <br>
            <input type="file" name="" id="">
            <button type="submit" class="btn btn-primary w-100">Отправить</button>
        </form>

    </div>
</div>
{% endblock %}