{% extends 'base.html' %}


{% block title %} Загрузить данные {% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <h3>Выберите из списка какой файл вы добавляете</h3>
</div>
<div class="d-flex justify-content-center">
    <div>
        <br>
        <br>
        <form action="" method="post">
            <select name="" id="">
                <option value="">Выберите формат файла</option>
                <option value="option1">1С Бухгалтерия, Эксель</option>
                <option value="option2">1С Расходы Чеки, Эксель</option>
                <option value="option3">Документы согласования, Word</option>
                <option value="option4">Список сотрудников, json</option>
            </select>
            <input type="file" name="" id="">
            <br>
            <br>
            <button type="button">Добавить еще файл</button>
        </form>
        <br>
        <br>
    </div>
</div>
<div class="d-flex justify-content-center">
    <button type="submit">Отправить в базу</button>
</div>
{% endblock %}