{% extends 'base.html' %}


{% block title %} Загрузить данные {% endblock %}

{% block content %}

<div class="d-flex justify-content-center">
    <div>
        <h3>Сайт сущностей ERP</h3>
        <br>
        <p>
            Сайт предназначен для загрузки ваших данных в базу данных и дальнешей конвертации в сущности ERP <br>
            Описание сайта, контактные данные для связи с поддержкой.
        </p>
        <br>
        <br>
        <br>
        <br>
        <h5>Запланированные работы:</h5>
        <p>
            31.04.2025 - Подключение нового модуля сущьностей
            <br>
            23.04.2025 - Обновление базы данных и профилактические работы
        </p>
        <br>
        <br>
        <br>

        <h5>История обновлений:</h5>
        <p>
            13.04.2025 - Обнавлены доступы к системе<br>
            11.04.2025 - Исправлены ошибки в работе с сущьностью "Заявки"<br>
            01.04.2025 - Добавлен новый пользователь Петров Петр Петрович<br>
            23.03.2025 - Добавлен модуль сущьностей Документы<br>
        </p>
    </div>
</div>
{% endblock %}