<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <header>
        <br>
        <div class="d-flex justify-content-center">
            <h1><a href="{% url 'home' %}" style="text-decoration: none; color: inherit;">ОАО "Лучший застройщик"</a></h1>
        </div>
        <br>
        <br>
        <div class="d-flex justify-content-center">
            <button type="button" class="mx-1"><a href="{% url 'projects' %}" style="text-decoration: none; color: inherit;">Проект</a></button>
            <button type="button" class="mx-1"><a href="{% url 'persons' %}" style="text-decoration: none; color: inherit;">Сотрудник</a></button>
            <button type="button" class="mx-1"><a href="{% url 'persons' %}" style="text-decoration: none; color: inherit;">Заявки</a></button>
            <button type="button" class="mx-1"><a href="{% url 'documents' %}" style="text-decoration: none; color: inherit;">Документы</a></button>
            <button type="button" class="mx-1"><a href="{% url 'downloads' %}" style="text-decoration: none; color: inherit;">Загрузить данные</a></button>
            <button type="button" class="mx-1"><a href="{% url 'user_cab' %}" style="text-decoration: none; color: inherit;">Личный кабинет</a></button>
            <button type="button" class="mx-1"><a href="{% url 'auth' %}" style="text-decoration: none; color: inherit;">Выйти</a></button>
        </div>
    </header>
    <br>
    <br>
    {% block content %}

    {% endblock %}
</body>
</html> -->