{% extends 'base.html' %}


{% block title %} Главная {% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <h1>Личный кабинет</h1>
</div>
<div class="d-flex justify-content-center">
    <div class="col-3">
        <br>
        <br>
        <h6>Организация:</h6>
        <p>ОАО "Лучший застройщик"</p>
        <br>
        <h6>Лица имеющие доступ:</h6>
        <p>Иванов Иван Иванович <br> Петров Петр Петрович <br> Захаров Захар Захарович</p>
    </div>
    <div class="col-3">
        <br>
        <br>
        <h6>ФИО аккаунта:</h6>
        <p>Иванов Иван Иванович</p>
        <br>
        <h6>Доступные модели/сущьности:</h6>
        <p>Проект <br> Сотрудник <br> Заявки <br> Документы</p>
        <br>
    </div>
</div>
<div class="d-flex justify-content-center">
    <button type="submit">Редактировать</button>
</div>
{% endblock %}